// jBox theme: TooltipBorder

.jBox-TooltipBorder {
  .jBox-container {
    border: 2px solid #000;
  }

  .jBox-pointer:after {
    border: 2px solid #000;
  }

  .jBox-pointer-top,
  .jBox-pointer-bottom {
    width: 34px;
    height: 13px;
  }

  .jBox-pointer-left,
  .jBox-pointer-right {
    width: 13px;
    height: 34px;
  }

  &.jBox-closeButton-box:before {
    width: 28px;
    height: 28px;
    background: #000;
  }
}
